/* =========================
   SERVER STATUS
========================= */

.server-status{
    font-family:'Orbitron',sans-serif;
    font-size:14px;
    padding:8px 16px;
    border-radius:20px;
    font-weight:bold;
    letter-spacing:1px;
}

.server-status.online{
    color:#00ff99;
    border:1px solid #00ff99;
    box-shadow:0 0 10px #00ff99;
}

.server-status.offline{
    color:#ff4f4f;
    border:1px solid #ff4f4f;
    box-shadow:0 0 10px #ff4f4f;
}